.carousel-item {
	min-height:600px;
}
#item1 {
	background:url("fren.jpg") fixed;
}
#item2 {
	background:url("rabbit.jpg") center center fixed;
}
#item3 {
	background:url("cat.jpg") center center fixed;
}
